<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Data</title>
</head>
<body>
    <h1>Course Details</h1>

    <table border = 1px>
        <tr>
            <td >Average Marks</td>
            <td>Maximum Marks</td>
        </tr>
        <tr>
            <td>{{avg}}</td>
            <td>{{max}}</td>
        </tr>
    </table>

<image src = "{{url_for ('static', filename = 'histogram.png')}}">
    <br>
    <br>
        <a href="http://127.0.0.1:5000/">Go Back</a>

</body>
</html>